body {
	position: relative;
	padding-top: 40px;
}


/* Brand
-------------------------------------------------- */

body > .navbar .brand {
  	padding-right: 0;
  	padding-left: 0;
  	margin-left: 20px;
  	float: right;
  	font-weight: bold;
  	color: #000;
  	text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}
body > .navbar .brand:hover {
  	text-decoration: none;
  	text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
}


/* Homepage Hero
-------------------------------------------------- */
.headingcta {
  	position: relative;
  	padding: 40px 0;
  	color: #fff;
  	text-align: center;
  	text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  	background: #333333;
}

.headingcta h1{
	font-size: 120px;
	line-height: 1;
}

.headingcta-links {
	margin: 0;
	list-style: none;
}

.headingcta-links li {
	display: inline;
	padding: 0 10px;
}

/* Homepage Social Buttons
-------------------------------------------------- */

.homepage-social {
	padding: 15px 0;
	text-align: center;
	background-color: #F5F5F5;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #DDD;
}

.homepage-social-buttons {
	margin-left: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

.homepage-social-buttons li {
	display: inline-block;
	padding: 5px 8px;
	line-height: 1;
}

/* Homepage Content
-------------------------------------------------- */

.homepage-content {
	text-align: center;
	color: #333333;
}

.homepage-content h1 {
	margin: 60px 0 10px;
	font-size: 60px;
	font-weight: 200;
	line-height: 1;
	letter-spacing: -1px;
}

.homepage-content .byline {
	margin-bottom: 40px;
	font-size: 20px;
	font-weight: 300;
	line-height: 25px;
	color: #999;
}

.homepage-content img {
	display: block;
	margin: 0 auto 30px auto;
}

.homepage-content h2 {
	font-weight: 200;
	margin-bottom: 5px;
}

.homepage-content p {
	font-size: 16px;
	line-height: 1.5;
}

.examples img {
max-width: 100%;
margin: 0 auto;
}

/* Faded out hr */
hr.soften {
  	height: 1px;
  	margin: 70px 0;
  	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  	background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  	background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  	background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  	border: 0;
}

/* Inner Page
-------------------------------------------------- */
.headingcta p {
	font-size: 24px;
	font-weight: 300;
	line-height: 30px;
	margin-bottom: 30px;
}

.subhead {
	text-align: left;
	border-bottom: 1px solid #DDD;
}

.subhead h1 {
	font-size: 60px;
}

.subhead p {
	margin-bottom: 20px;
}

section {
	padding-top: 30px;
}

/* Homepage Heading
-------------------------------------------------- */


.home {
	padding: 70px 0 80px 0;
}

.home p {
	font-size: 40px;
	font-weight: 200;
	line-height: 1.25;
}

/* Footer
-------------------------------------------------- */

.footer {
	padding: 70px 0;
	margin-top: 70px;
	border-top: 1px solid #E5E5E5;
	background-color: #F5F5F5;
}

.footer p {
	margin-bottom: 0;
	color: #777;
}

.footer-links {
	margin: 10px 0;
}

.footer-links li {
	display: inline;
	margin-right: 10px;
}

/* Sidenav Inner page
-------------------------------------------------- */

/* prevent column from collapsing when affixing */
.span3 {
  min-height: 1px;
}

.inner-sidenav {
  width: 228px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.inner-sidenav > li > a {
  display: block;
  *width: 190px;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.inner-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.inner-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.inner-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.inner-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.inner-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.inner-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.inner-sidenav .active .icon-chevron-right,
.inner-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
.inner-sidenav.affix {
  top: 40px;
}
.inner-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
@media (min-width: 1200px) {
  .inner-container {
    max-width: 970px;
  }
  .inner-sidenav {
    width: 258px;
  }
}

/* Desktop
------------------------- */
@media (max-width: 980px) {
  /* Unfloat brand */
  body > .navbar-fixed-top .brand {
    float: left;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* Inline-block quick links for more spacing */
  .quick-links li {
    display: inline-block;
    margin: 5px;
  }

  /* When affixed, space properly */
  .inner-sidenav {
    top: 0;
    margin-top: 30px;
    margin-right: 0;
  }
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 980px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }
  
  .headingcta {
    margin-top: -20px; /* Offset bottom margin on .navbar */
  }
  /* Adjust sidenav width */
  .inner-sidenav {
    width: 166px;
    margin-top: 20px;
  }
  .inner-sidenav.affix {
    top: 0;
  }
}

/* Tablet
------------------------- */
@media (max-width: 768px) {
  /* Remove any padding from the body */
 body {
    padding-top: 0;
  }

.headingcta {
    padding: 40px 20px;
    margin-top:   -20px; /* Offset bottom margin on .navbar */
    margin-right: -20px;
    margin-left:  -20px;
  }

.headingcta h1 {
    font-size: 90px;
  }

.headingcta p,
.headingcta .btn {
    font-size: 24px;
  }

.homepage-content .span4 {
    margin-bottom: 40px;
  }

.homepage-social {
    margin: 0 -20px;
  }

.show-grid [class*="span"] {
    margin-bottom: 5px;
  }

.footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }

.footer p {
    margin-bottom: 9px;
  }
}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
  /* Remove padding above jumbotron */
body {
    padding-top: 0;
  }

  /* Change up some type stuff */
h2 small {
    display: block;
  }

.headingcta h1 {
    font-size: 60px;
  }
.headingcta p,
.headingcta .btn {
    font-size: 20px;
  }
.headingcta .btn {
    display: block;
    margin: 0 auto;
  }

 .subhead h1,
 .subhead p {
    text-align: center;
  }
  
.homepage-content h1 {
    font-size: 40px;
  }

.example-sites {
    margin-left: 0;
  }
.example-sites > li {
    float: none;
    display: block;
    max-width: 280px;
    margin: 0 auto 18px;
    text-align: center;
  }
.example-sites .thumbnail > img {
    max-width: 270px;
  }

table code {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
  }

 
.footer .pull-right {
    float: none;
  }
}

